aiohappyeyeballs==2.6.1
aiohttp==3.12.15
aiosignal==1.4.0
alembic==1.16.4
annotated-types==0.7.0
argcomplete==3.6.2
async-timeout==5.0.1
attrs==25.3.0
awkward==2.8.6
awkward_cpp==48
bcrypt==4.3.0
blinker==1.9.0
boost-histogram==1.5.2
boto==2.49.0
boto3==1.39.17
botocore==1.39.17
cachetools==5.3.1
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.1.8
cloudpickle==3.1.1
coffea==2025.7.3
contourpy==1.3.0
correctionlib==2.7.0
cramjam==2.11.0
cryptography==45.0.5
cycler==0.12.1
dask==2024.8.0
dask-awkward==2025.5.0
dask-histogram==2025.2.0
decorator==5.2.1
defusedxml==0.7.1
docopt==0.6.2
dogpile.cache==1.2.2
Flask==3.1.1
fonttools==4.59.0
frozenlist==1.7.0
fsspec==2025.5.1
future==1.0.0
geoip2==5.1.0
google-auth==2.40.3
greenlet==3.2.3
hist==2.8.1
histoprint==2.6.0
idna==3.10
importlib_metadata==8.7.0
importlib_resources==6.5.2
itsdangerous==2.2.0
Jinja2==3.1.6
jmespath==1.0.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.7
llvmlite==0.43.0
locket==1.0.0
lz4==4.4.4
Mako==1.3.10
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.9.4
maxminddb==2.8.2
mdurl==0.1.2
mplhep==0.4.0
mplhep_data==0.0.4
multidict==6.6.3
numba==0.60.0
numpy==2.0.2
oic==1.7.0
packaging==25.0
pandas==2.3.1
paramiko==3.5.1
partd==1.4.2
pbr==6.1.1
pillow==11.3.0
prometheus_client==0.22.1
propcache==0.3.2
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pycryptodomex==3.23.0
pydantic==2.11.7
pydantic-settings==2.10.1
pydantic_core==2.33.2
Pygments==2.19.2
pyjwkest==1.4.2
pymemcache==4.0.0
PyNaCl==1.5.0
pyparsing==3.2.3
python-dateutil==2.8.2
python-dotenv==1.1.1
python-magic==0.4.27
pytz==2025.2
PyYAML==6.0.2
redis==6.2.0
referencing==0.36.2
requests==2.32.4
rich==14.1.0
rpds-py==0.26.0
rsa==4.9.1
rucio==37.7.1
s3transfer==0.13.1
scipy==1.13.1
six==1.17.0
SQLAlchemy==2.0.42
statsd==4.0.1
stevedore==5.4.1
stomp.py==8.2.0
tabulate==0.9.0
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
tqdm==4.67.1
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
uhi==0.5.0
uproot==5.6.4
urllib3==1.26.18
vector==1.6.3
websocket-client==1.8.0
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.20.1
zipp==3.23.0
